/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #EFF6E0;
  --global-code-bg-color: #c8d5c9;
  --global-text-color: #01161E;
  --global-text-color-light: #01161E;
  --global-theme-color: #124559;
  --global-hover-color: #AEC3B0;
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #598392;
  --global-footer-link-color: #241424;
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: hsl(197, 94%, 6%);
  --global-card-bg-color: #EFF6E0;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$cyan-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}


